.notification{
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}

.notification.success{
  color: green;
  display: block !important;
}

.notification.error{
  color: red;
  display: block !important;
}
